/* Responsive */
/* Mobile */
@media screen and (max-width: 576px) {
    body{
        overflow-x: hidden;
    }
    nav ul {
        position: absolute;
        right: 0;
        width: 60%;
        top: 0;
        height: 50vh;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
        background-color: aquamarine;
    }

    nav ul.geser {
        z-index: 1;
        opacity: 1;
        transform: translateX(0);
    }

    .menu-toggle {
        display: flex;
        z-index: 1;
    }

    .df {
        display: flex;
        flex-direction: column;
        place-items: center;
    }

    .come {
        display: flex;
        flex-direction: column;
        place-items: center;
    }

    .user {
        display: flex;
        flex-direction: column;
        place-items: center;
    }

    .come img {
        width: 100%;
    }

    .home {
        width: 100%;
    }

    .join {
        display: flex;
        flex-direction: column;
        height: 60%;
        width: 100%;
    }

    .hub {
        width: 100%;
    }

    .hub img {
        width: 100%;
        position: relative;
    }

    .social-media {
        margin-top: auto;
        margin-bottom: auto;
    }

    .slide-textbereich {

        top: 0;
        bottom: 0;
        width: 100%;
    }
    .pfeil{
        position: absolute;
        top: 40%;
        bottom: 15%;
    }
}


@media screen and  (max-width:768px) {
    nav ul {
        width: 46%;
    }

    .slide-textbereich {
        top: 50%;
        bottom: 0;
        width: 100%;
        padding: 0 20% 0 20%;
    }

    

    .join {
        display: flex;
        flex-direction: column;
        height: 70vh;
    }

    .program img {
        width: 20%;
    }
    .hub img{
        width: 100%;
    }
}
